@model Beauty_Salon.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Допълнителна информация за час</h1>
<br />
<br />
<h3>Час</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Име
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Procedure.Name)
        </dd>

        <dt class="col-sm-2">
            Дата
        </dt>
        <dd class="col-sm-10">
            @Model.AppointmentDate.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            Час
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HourAndMinute)
        </dd>
        <dt class="col-sm-2">
            Продължителност
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration) минути
        </dd>
        <dt class="col-sm-2">
            Работник
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Procedure.Worker.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-custom" asp-action="Edit" asp-route-id="@Model?.Id">Промени</a> |
    <a class="btn btn-custom" asp-action="Index">Назад</a>
</div>
