@model Beauty_Salon.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProcedureName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourAndMinute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourAndMinute)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkerName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-custom" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-custom" asp-action="Index">Cancel</a>
</div>
