@model IEnumerable<Beauty_Salon.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Часове</h1>
<p>
    <a class="btn btn-custom" asp-action="Create">Запази нов час</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Дата
            </th>
            <th>
                Час
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Procedure.Name)
                </td>
                <td>
                    @item.AppointmentDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HourAndMinute)
                </td>
                <td>
                    <a class="btn btn-custom" asp-action="Details" asp-route-id="@item.Id">Още информация</a> |
                    <a class="btn btn-custom" asp-action="Edit" asp-route-id="@item.Id">Промени</a> |
                    <a class="btn btn-custom" asp-action="Delete" asp-route-id="@item.Id">Премахни</a>
                </td>
            </tr>
        }
    </tbody>
</table>
