@model IEnumerable<Beauty_Salon.Models.Procedure>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Процедури</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-custom" asp-action="Create">Добави процедура</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Цена
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) лева
                </td>
                @if (!User.Identity.IsAuthenticated || !User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn btn-custom" asp-action="Details" asp-route-id="@item.Id">Още информация</a>
                    </td>
                }
                
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn btn-custom" asp-action="Details" asp-route-id="@item.Id">Още информация</a> |
                        <a class="btn btn-custom" asp-action="Edit" asp-route-id="@item.Id">Промени</a> |
                        <a class="btn btn-custom" asp-action="Delete" asp-route-id="@item.Id">Премахни</a>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>
